footer { background: $dark-grey; color: #fff; font-size: 16px; padding: 3.5rem 0; border-bottom: 5px solid #2c2c2c;
	a { color: #fff;
		&:hover, &:focus { color: $white-hover; }
	}
	.nav {
		li { padding: 0 12px;
			&:first-child { padding-left: 0; }
		}
	}

	.btn-green { padding: 10px 40px; font-size: 16px; }
	h3 { margin-bottom: 1em; }
	.contact-left {
		a { color: #fff;
			&:hover, &:focus { color: #e5e5e5; }
		}
		ul { list-style: none; padding-left: 0;
			li { margin-bottom: 1em;
				&:before { content:''; display: inline-block; width: 24px; height: 24px; margin-right: 10px; vertical-align: middle; }
				&:first-child {
					&:before { background: url(../images/phone.png) 0 0 no-repeat; background-size: cover; }
				}
				&:nth-child(2) {
					&:before {background: url(../images/email.png) 0 0 no-repeat; background-size: cover; }
				}
				&:last-child {
					&:before { background: url(../images/location.png) 0 0 no-repeat; background-size: cover; }
				}
			}
		}
	}
}


.footer-bottom { text-align: center; border-bottom: 0; }
.menu-footer-navigation-container {
	ul { padding-left: 0; list-style: none;
		li { padding: 0 32px; display: inline-block;
			&:last-child { padding-right: 0; }
		}
	}
}

.logged-in {
	.footer-top { display: none; }
}