.banner { padding: 20px 0; background: #ffffff;}

#menu-primary-navigation { display: block; font-size: 14px; text-align: right;
	> li { display: inline-block; line-height: 36px; padding: 0 40px 0 0;
		> a { text-transform: uppercase; color: inherit; }

		&.nav-btn { padding: 0 3px;
			a { @extend .btn; 
				&:focus { box-shadow: 0 0 0 2px rgba(2,117,216,.5); }
			}
		}
		&.login-btn {
			a { border: 1px solid #6e81ad; color: #6e81ad; font-size: 12px; 
				&:hover, &:focus { background: $blue; color: #fff; }
			}
		}
		&.enroll-btn {
			a { border: 1px solid $red; color: #fff; font-size: 12px; background: $red;
				&:hover, &:focus { background: $red-hover; color: #fff; }
			}
		}
	}
}

.logged-in {
	.banner { padding: 0;
		.brand {
			img { display: block; margin: 0 auto; }
		}
		.dashboard-links {
			.nav-link { font-size: 18px; color: $black; 
				&:hover { text-decoration: underline; }
			}
		}
		.dropdown { font-family: $quattro; 
			.dropdown-menu { margin-top: 0; padding: 0; border-radius: 0; border: 0; background: $blue; 
				.dropdown-item { color: #fff; line-height: 32px; border-bottom: 1px solid #1c4172; 
					&:hover { background: $blue-hover; }
				}
				li:last-child {
					a { border: 0; }
				}
			}
		}
		.dropdown-toggle { 
			img { border-radius: 24px; }
			span { line-height: 24px; vertical-align: middle; margin-left: 1rem; }
		}
	}

	&.register-success {
		.banner { padding: 20px 0; }
	}

	&.get-started {
		.dashboard-links, .dropdown-toggle { visibility:hidden; }
	}
}