// Home Page Template
.page-template-template-home { 

	h1, h2 { font-family: $cormorant; }

	.hero-banner { background: url(../images/bg-register.jpg) 50% 50% no-repeat; background-size: cover; 
		.content { padding-top: 20vh; padding-bottom: 20vh; color: #fff; 
			h1 { font-size: 2rem; }
			hr { border-color: #fff; }
			a { padding: 16px 54px; line-height: 1em; text-transform: uppercase; 
				&:first-child { margin-right: 10px; }
			}
		}
	}

	.subscription-package { background: url(../images/concrete_wall_2X.png) 0 0 repeat; padding-top: 7.5vh; padding-bottom: 7.5vh; color: #fff; 
		.subscription-intro { margin-bottom: 5vh; 
			.landing-title {
				&:after { width: 200%; right: -1000px; }
			}
		}
		hr { border-color: #fff; }
	}

	.books-courses { background: $pale; color: #212121; padding: 5.5vh 0; 
		hr { border-color: #000; }
		.bc-icons { width: 36px; margin-right: 18px; }
		.books-row { margin: 3vh 0; }
		h3 { margin-bottom: 24px; }
		p { line-height: 1.8em; }

		.owl-carousel { background: #c4cab9; border-radius: 10px; padding: 20px 20px 6px; 
			.owl-stage-outer { margin-bottom: 10px; }
			.item { background-size: cover; background-position: center; border-radius: 10px; height: 255px;
				h5 { color: #fff; width: 100%; text-align: center; }
				a { padding: 0 15px; width: 100%; height: 100%; background: rgba(0,0,0,0.6);
					&:hover { text-decoration: none; }
					h5 { margin: 0; position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
				}
			}
			.owl-dots {
				.owl-dot {
					span { width: 14px; height: 14px; background: transparent; border: 2px solid #453c30; margin: 14px 7px; }
					&.active {
						span { background: #453c30; }
					}
				}
			}
			.owl-nav {
				.owl-prev { float: left; font-size: 0; background: transparent; 
					&:after { content: ''; display: block; width: 14px; height: 26px; background: url(../images/carousel-prev.png) 50% 50% no-repeat; background-size: cover; }
				}
				.owl-next { float: right; font-size: 0; background: transparent;
					&:after { content: ''; display: block; width: 14px; height: 26px; background: url(../images/carousel-next.png) 50% 50% no-repeat; background-size: cover; }
				}
			}
		}
	}

	.faq { background: #363a3d; padding: 7.5vh 0; color: #fff; 
		h2 { text-align: center; }
		hr { border-color: #fff; }
	}

	.partner { background: url(../images/cardboard.jpg) 0 0 repeat; padding: 6vh 0; 
		h2 { margin-bottom: 1em; font-size: 2.4rem; }
		a { width: 100%; padding: 14px 10px; font-size: 18px; }
		p { margin-right: 50px; }
	}

}

// Lists Template
.page-template-template-list {
	.wrap { background: $pale; color: #212121; }
	.bc-icons { width: 45px; }
	.list-unstyled {
		.media { background: #c4cab9; border-radius: 10px; 
			img { max-width: 200px; }
		}
		.card { border: 0; background: rgba(255,255,255,0.5); border-radius: 6px; }
	}
}

// Dashboard Pages
.logged-in { background: $dark-grey;
	h1 { font-size: 2rem; text-align: center; margin-bottom: 1em; }
	.wrap { background: $pale; font-family: $raleway; padding: 5vh 0; }
	.dash-card { background: #fff; border-radius: 10px; padding: 1rem 2rem; 
		.welcome { font-size: 20px; font-family: $quattro; line-height: 34px;
			.fa { font-size: 34px; }
		}
		img { width: 100%; max-width: 16px; height: 16px; }
		.credit-count { font-weight: 600; }
	}
	.content-card { border: 0; 
		.btn { padding: 0.75rem 3rem; }
		.card-header { min-height: 160px; background-position: center; background-size: contain; background-repeat: no-repeat; }
	}
	.courses-card {
		.card-header { background-size: cover; }
	}

	// Public Pages after logged in
	&.page-template-template-home, &.courses-list, &.books-list {
		.wrap { padding: 0; }
		.footer-top { display: inherit; }
	}

	&.profile { 
		.wrap { background: $pale; color: $black; }
	}

}

.dashboard {
	.card {
		.card-header { background-size: cover; }
	}
}

.process-container { background: #fff; border-radius: 5px; width: 75%;
}

#get-started {
	.process-bar { list-style: none; padding-left: 0; display: block; width: 100%; text-align: center; margin-bottom: 3.5rem;
		&:after { content: ''; display: block; width: 90%; height: 2px; background: $grey; position: relative; bottom: 9px; margin: 0 auto; z-index: 0; }
		li { display: inline-block; color: $grey; width: 19%; text-transform: uppercase; text-align: center; font-weight: 500; font-size: 13px;
			&:after { content:''; display: block; width: 16px; height: 16px; background: #fff; border-radius: 50%; border: 2px solid $grey; margin: 6px auto 0; position: relative; z-index: 99; }
			&.active:after { background: $grey; }
		}
	}
	.process-icon { width: 100%; max-width: 24px; display: inline-block; margin-right: 10px; }
	p { font-size: 16px; }
	.pkg-icon { max-width: 94px; width: 100%; display: block; }
	.btn { width: 100%; padding: 10px; font-size: 16px; }

	.card { border: 0; border-radius: 0; background: #1a1a1a; color: #fff; cursor: pointer;
		&.active { box-shadow: 0 0 0px 4px rgba(33, 112, 134, 1); }
		.card-header { border-radius: 0; }
		.card-block { background: $dark-grey;
			.btn-ext { background: transparent; border: 0; color: #fff;
			}	
		}
	}

	.final-step-list {
		li { line-height: 1.8rem; font-weight: 600; font-size: 16px; }
	}
}

.single-base-course {
	article { background: #ffffff; border-radius: 8px 8px 8px 0;
		header { background: $black; border-top-right-radius: 10px; border-top-left-radius: 10px; 
			.entry-title { text-align: center; color: #fff; margin: 0; }
			.teacher-info { border-radius: 5px; background: rgba(255,255,255,0.7); 
				h3 { font-size: 1.25rem; font-family: $quattro; }
				p { font-size: 0.9rem; }
			} 
		}
		.class-list { list-style: none; 
			li { border-left: 5px solid $black; border-top: 1px solid $light-grey; border-right: 1px solid $light-grey;
				&:last-child { border-bottom: 1px solid $light-grey; }
				&.started { background: rgb(197, 220, 228); border-left-color: rgb(38, 113, 139);
					.class-num { color: rgb(38, 113, 139); }
				}
				&.finished { background: rgb(217, 248, 192); border-left-color: $green;
					.class-num { color: $green; }
				}
				a { display: block; font-size: 1.2rem; font-family: $quattro; color: $black;
					&:hover, &:focus { text-decoration: none; }
					.class-num { font-size: 4.5rem; min-width: 60px; text-align: center; line-height: 5rem; }
					.class-icon { font-size: 2.4rem; }
				}
			}
		}
	}
	.entry-footer { 
		.btn { padding: 0.8rem 3rem; font-size: 1.2rem; border-radius: 0 0 3.5px 3.5px; }
	}
}

.single-child-course {
	article {
		header { background: $black; border-top-right-radius: 10px; border-top-left-radius: 10px; color: #FFF; padding: 30px 50px;
			.article-num { font-size: 100px; line-height: 1; text-align: center; font-family: helvetica, san-serif; }
			.entry-title { text-align: left; }
			.teacher-info { border-radius: 5px; background: rgba(255,255,255,0.9); 
				h3 { font-size: 1.25rem; font-family: $quattro; }
				p { font-size: 0.9rem; }
			} 
		}
	}
	.entry-content { padding: 50px 50px 20px; background: #FFF;
		> .row { margin: 0 -25px;
			> div { padding: 0 25px; }
		}
	}
	.verses { background: $light-grey; padding: 15px;
		.row { margin: 0 -3px 10px;
			> div { padding: 0 3px; }
		}
		.chapter { font-size: 18px; text-align: center; line-height: 1; }
	}
	.complete { border-top: 1px solid $light-grey; background: #FFF;
		.btn { padding-top: 15px; padding-bottom: 15px; font-family: $quattro; color: $black; font-size: 16px; background: transparent; border-radius: 0; cursor: pointer; }
		.fa { font-size: 26px; color: $red; margin-right: 10px; line-height: 0; vertical-align: sub;
			&:before { content: ''; }
		}

		&:hover { background: $light-grey; }
		&.finished, &:hover {
			.fa { color: $green; }
		}
		&.finished {
			&:hover { background: #FFF;
				.fa:before { content: ''; color: red; }
			}
			.fa:before { content: ''; }
		}
	}
	footer { background: transparent; padding: 0; text-align: left; border-bottom: 0;
		a { display: inline-block; padding: 17px 25px; color: #FFF; background: $black; font-family: $quattro; border-radius: 0 0 6px 6px; text-decoration: none; font-size: 16px; }
		.prev-course { background: $green; border-radius: 0 0 0 6px; 
			&:hover { background: $green-hover; }
		}
		.next-course { background: $blue; border-radius: 0 0 6px 0; 
			&:hover { background: $blue-hover; }
		}
		.prev-course, .next-course { float: right;
			&.disabled { background: $grey; cursor: default;
				+ .disabled { margin-right: 1px; }
			}
		}
	}
}





// UPME Pages
.page-template-template-register {

}

.login, .register, .subscription-package, .register-success { 
	.wrap { max-width: 460px; width: 100%; margin: 5% auto; background: none;
	}
	.upme-head { display: none; }
	.upme-main { color: #fff;
		label.upme-field-type { display: none; }
		.upme-input { width: 100%; border: 0; padding: 8px 12px; font-size: 18px; }
	}
}

// Login Template
.login { background: url(../images/bg-login.jpg) 50% 50% no-repeat; background-size: cover;
	.upme-input#user_login { border-radius: 5px 5px 0 0; border-bottom: 1px solid $light-grey; }
	.upme-input#login_user_pass { border-radius: 0 0 5px 5px; }
	.upme-input#user_name_email-1 { border-radius: 5px; }

	input.upme-login { margin-top: 2rem; margin-bottom: 1rem; }
	.upme-back-to-login { margin-top: 1rem; 
		a { color: #fff;
			&:hover { color: #fff; }
		}
	}
	.upme-login-forgot-link,
	.upme-login-register-link { color: #fff; 
		&:hover { color: #fff; }
	}

	.footer-top {
		.contact-right { display: none; }
	}
}

// Register Template
.register { background: url(../images/bg-register.jpg) 50% 50% no-repeat; background-size: cover;
	.upme-input#reg_user_login, .upme-input#first_name { border-radius: 5px 5px 0 0; }
	.upme-input#reg_user_pass_confirm, .upme-input#church { border-radius: 0 0 5px 5px; }

	.upme-user_login, .upme-user_email, .upme-user_pass, .upme-input#first_name, .upme-input#display_name, .upme-input#phone, .upme-input#address { border-bottom: 1px solid $light-grey; }

	.upme-radio { width: 50%; background: $grey; text-align: center; padding: 10px; border-bottom: 3px solid $grey; margin-bottom: 0;
		&:first-child { border-bottom-color: $blue; 
		}
		&:nth-child(2) { border-bottom-color: $red; }
		input[type=radio] { opacity: 0; position: absolute; }
		&.checked {
			&:first-child { background: $blue; }
			&:nth-child(2) { background: $red; }
		}
	}

	.upme-user_pass, .upme-user_pass_confirm {
		.upme-help-text { display: none; }
	}
	.upme-icon-refresh { display: none !important; }
}

// Select Package
.subscription-package, .register-success { background: url(../images/bg-login.jpg) 50% 50% no-repeat; background-size: cover; 
	.wrap { max-width: 100%; margin-top: 10%; margin-bottom: 10%; }
	h1, p { color: #fff; }
	p { font-size: 16px; }
	h1 { margin-bottom: 3.5rem; }
	.pkg-icon { max-width: 94px; width: 100%; margin: 0 0 2.5vh; }
}

// Profile Page
.profile {
	.page-header, .upme-stats, .upme-profile-edit-bar, .upme-required { display: none; }
	.upme-view-panel { background: #fff; border-radius: 8px; padding: 2rem 2.5rem; }
	.upme-profile-picture { 
		img { border-radius: 50px; border: 1px solid #f1f1f1; }
	}
	.upme-profile-title { font-size: 18px; }
	.upme-success { text-align: center; }
	.upme-edit {
		label { font-size: 15px; margin-bottom: 0.2rem; font-weight: 400; }
		input { background: #f1f1f1; border: 0; padding: 0.6rem 1rem; border-radius: 4px; width: 100%; font-family: $raleway; }
	}
	.upme-clear { margin-bottom: 1.4rem; }
	.upme-radio { background: #f1f1f1; padding: 0.4rem 1rem;
		&.checked { color: #fff; }
		input { visibility: hidden; position: absolute; }
	}
	.upme-gender {
		.upme-radio {
			&:first-child {
				&.checked { background: $blue; }
			}
			&:nth-child(2) {
				&.checked { background: $red; }
			}
		}
	}
	.upme-button { max-width: 200px; display: block; margin: 0 auto; background: $green;
		&:hover, &:focus { background: $green-hover; }
		.upme-icon { margin-left: 10px; }
	}
}

// Plan Modification
.plan-modification {
	.process-container { text-align: center; 
		p { font-size: 1.2rem; }
		form { max-width: 350px; margin: 0 auto; }
	}
}


// Default Pages
.page-template-default, .error404, .faq { 
	.wrap { background: url(../images/concrete_wall_2X.png) 50% 50% repeat; background-size: 50%; color: #fff; padding: 4rem 0;
	}
}

// FAQ Page
.faq {
	.faq-list { margin-top: 0; }
}


// 404 Page
.error404 {
	.card { border: 0; background: url(../images/404.png) 100% 50% no-repeat; background-size: contain; background-color: transparent; border-radius: 0; 
		.card-block { padding: 5rem 1.25rem; }
	}
}


.login, .register {
	.wrap { background: none; }
}

//////////
// GENERAL
//////////

.faq-list { max-width: 650px; width: 100%; margin: 5vh auto 0;
	.card { border: 0; border-radius: 0; background: transparent; color: #fff; border-bottom: 1px solid #5e6164;
		.card-header { background: transparent; border-radius: 0; padding: 2rem 1.25rem;
			a { color: #fff; 
				&:hover, &:focus { text-decoration: none; }
				&.collapsed { 
					.accordion-arrow { transform: rotate(90deg); }
				}
				.accordion-arrow { width: 26px; margin-right: 20px; }	
			}
		}
		.card-block { padding-left: 4.8rem; }
	}
}







