body#tinymce {
  margin: 12px !important;
  height:auto !important;
  width: auto !important;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
