html { font-size: 14px; }

body { font-family: $quattro; }

.page-header { text-align: center; padding-bottom: 2rem;
	h1 { font-family: $cormorant; color: #fff; }
	hr { border-top: 1px solid #fff; max-width: 90px; margin: 1rem auto; }
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
	iframe, object, embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

// Package cards
.s-package { text-align: center; background: #fff; border-radius: 5px; padding: 1.25rem 0.2rem 0.2rem; color: #000000; 
	.pkg-icon { max-width: 94px; width: 100%; margin: 0 0 2.5vh; }
	.s-list { list-style: none; padding-left: 0;
		li { border-bottom: 1px solid $light-grey; padding: .5rem 0;
			&:last-child { border-bottom: 0; }
		}
	}
	.btn { width: 100%; padding-top: 14px; padding-bottom: 14px; 
		&:focus { box-shadow: 0 0 0 2px rgba(2,117,216,.5); }
	}
}

.hidden { display: none; visibility: hidden; }
.card-img-top { border-radius: 0; }

.wpcf7-form {
	.form-group { margin-bottom: 1.5rem; }
	label { font-size: 16px; line-height: 32px; vertical-align: middle; }
	input, textarea { font-size: 16px; line-height: 32px; border: 0; width: 100%; padding: 4px 10px; border-radius: 4px; }
	.wpcf7-submit { width: initial; padding: 4px 40px; }
	
	// response message
	.wpcf7-response-output { padding: .75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent; border-radius: .25rem; margin: 1rem 0 2rem; }
	.wpcf7-validation-errors { background-color: #fcf8e3; border-color: #faf2cc; color: #8a6d3b; } 

	// validation message
	.wpcf7-not-valid-tip { color: #f72626; }
}