// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #890d00;
$red:                   #b60808;
$blue:                  #325f9b;
$green:                 #68933e;
$purple:								#7a447b;
$black:									#282727;
$grey:									#5d5d5d;
$dark-grey:							#343434;
$light-grey:						#e1e1e1;
$pale:									#e1e0d0;

$red-hover:							#7f0505;
$blue-hover:						#23426c;
$green-hover:						#779d51;
$purple-hover:					#552f56;
$black-hover:						#686767;
$grey-hover:						#6d6d6d;
$dark-grey-hover:				#484848;
$light-grey-hover:			#e4e4e4;
$white-hover:						#cccccc;

// Fonts
$quattro:								'Quattrocento', serif;
$cormorant:							'Cormorant SC', serif;
$raleway:								'Raleway', serif;