.btn-red, .btn-white, .btn-green, .btn-black, .btn-purple, .btn-blue { @extend .btn; font-family: $quattro; 
	&:focus { box-shadow: 0 0 0 2px rgba(2,117,216,.5); }
}
.btn-red { background: $red; color: #FFF; 
	&:hover, &:focus { background: $red-hover; color: #fff; }
}
.btn-white { background: #fff; color: $blue; 
	&:hover, &:focus { background: $white-hover; color: $blue; }
}
.btn-green { background-color: $green; color: #FFF; 
	&:hover, &:focus { background: $green-hover; color: #fff; }
}

.btn-purple { background-color: $purple; color: #fff;
	&:hover, &:focus { background: $purple-hover; color: #fff; }
}

.btn-blue { background-color: $blue; color: #fff;
	&:hover, &:focus { background: $blue-hover; color: #fff;}
}

.btn-black { background-color: $black; color: #fff;
	&:hover, &:focus { background: $black-hover; color: #fff; }
}

.btn-more { width: 32px; height: 32px; display: block; margin: 0 auto; color: #fff; border: 1px solid #fff; border-radius: 50%; line-height: 32px; padding: 0; text-align: center;
	.fa { font-size: 14px; }
	&:hover, &:focus { background: #fff;
		.fa { color: $dark-grey; }
	}
}

.upme-button, #next-step, #prev-step, #upme-register{ font-family: $cormorant; width: 100%; border-radius: 3px; color: #fff; padding: 6px 20px; border: 0; font-size: 18px; background: $grey;
	&.upme-login { background: $blue;
		&:hover, &:focus { background: $blue-hover; }
	}
}

#next-step, #prev-step {
	&:hover, &:focus { background: $grey-hover; }
}

#upme-register {
	&:hover, &:focus { background: $red-hover; }
}

#next-step { margin: 30px 0; }
#prev-step { margin-top: 15px; }
#upme-register { margin: 15px 0 30px; background: $red; }

.logged-in {
	.show { 
		.dropdown-toggle { background: $blue-hover; }
	}
	.dropdown-toggle { background: $blue; color: #fff; border: 0; border-radius: 0; font-family: $quattro; padding: 1rem 1.5rem; font-size: 16px; }
}