.upme-account_info_separator,
.upme-registration-head { display: none; }
.upme-icon { display: none; }
.upme-rememberme { display: none; }

.upme-error-block {
	.upme-error-block { display: block; }
}

